@import 'variables';

/* tiny reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/**
 *  Components
 */

.global {
  font-family: 'UbuntuMono', monospace;
  padding: 2rem;
  height: 100vh;
  background-color: rgba($secondary-design-color, .50);
}
select {
  font-family: 'UbuntuMono', monospace;
}
h1{
  margin: 0;
  padding: 2rem 0;
}
h3{
  padding-top: 2rem;
}