@import 'variables';

/* tiny reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/**
 *  Components
 */

.global {
  font-family: 'UbuntuMono', monospace;
  background-color: rgba($secondary-design-color, .50);
}
select {
  font-family: 'UbuntuMono', monospace;
}
